@import '../../../css/common.scss';

.Wrap {
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
}

.Inner {
    width: min-content;
    padding: 50px 100px;
    background: rgba(18, 17, 31, 0.3);
    backdrop-filter: blur(7px);
}

.Title {
    color: $white;
    @include h1;
}

.Image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
        object-fit: cover;
    }
}

@media only screen and (min-width: $desktopWide) {
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
}

@media only screen and (max-width: $mobile) {
}
