@import '../../../../css/common.scss';

.Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.Title {
    @include h2;
}

.Slide {
    width: 390px;
}

.Buttons {
    display: flex;
    button {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}

@media only screen and (min-width: $desktopWide) {
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
}

@media only screen and (max-width: $mobile) {
}
